<<<<<<< HEAD
.footer {
    background-color: $primary-color;
    height:60px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    color:#fff;
}


=======
.footer {
    background-color: $primary-color;
    height:60px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    color:#fff;
}

>>>>>>> 0bda20bd28948ad8f035e735437996e297167a76
