.footer {
    background-color: $primary-color;
    height:60px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    color:#fff;
}

