body {
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template:"header"
                  "main"
                  "footer";
}


.header {
    grid-area: header;
    width:100%;
}

.main {
    grid-area:main;
    width:100%;
    max-width:1200px;
    position: relative;
    padding:2rem 0;
}

.footer {
    grid-area: footer;
    width:100%;
}