{%extends "layout.html" %}

{%block content%}

<h1 class="users-title">Panel de fabricantes</h1>

<a class="btn" href="/admin">Volver al panel</a>


<section class="products">
    <div class="products-options">
        <a href="/admin/fabricators/all">Obtener todos los fabricantes</a>
    </div>

    <section class="add-product">
        <h2>Agregar Fabricante</h2>
        <form action="/admin/fabricators/add" id="addFabricatorsForm" method="POST">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required>
            <label for="country">País</label>
            <input type="text" id="country" name="country">           
            <input id="user-submit" type="submit">
        </form>
    </section>  
</section>

<section class="lastProducts">
    {% if lastFabricators %}
    <h2 class="lastProducts-title">Últimos repuestos registrados</h2>
    {% endif %}
    <table>
        <tr class="firstColumn"><td>ID</td><td>Nombre</td><td>Fabricante</td></tr>
        {% for fabricator in lastFabricators -%}
        <tr><td>{{fabricator[0]}}</td><td>{{fabricator[1]}}</td><td>{{fabricator[2]}}</td></tr>
        {% endfor%}
    </table>
</section>







{%endblock%}