{%extends "layout.html" %}

{%block content%}

<h1 class="users-title">Panel de repuestos</h1>

<a class="btn" href="/admin">Volver al panel</a>


<section class="products">
    <div class="products-options">
        <a href="/admin/products/all">Obtener todos los repuestos</a>
    </div>

    <section class="add-product">
        <h2>Agregar repuesto</h2>
        <form action="/admin/products/add" id="addProductsForm" method="POST">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required>
            {% if fabricators %}
            <label for="fabricator">Fabricante</label>
            <select name="fabricator" id="fabricator">
                {% for fabricator in fabricators -%}
                <option value="{{fabricator[0]}}">{{fabricator[1]}}</option>
                {% endfor %}
            </select>
            {% endif %}
            <label for="observation">Observacion</label>
            <input type="text" id="observation" name="observation" placeholder="Observacion">           
            <input id="user-submit" type="submit">
        </form>
    </section>  
</section>

<section class="lastProducts">
    {% if lastProducts %}
    <h2 class="lastProducts-title">Últimos repuestos registrados</h2>
    {% endif %}
    <table>
        <tr class="firstColumn"><td>ID</td><td>Nombre</td><td>Fabricante</td><td>Observacion</td></tr>
        {% for product in lastProducts -%}
        <tr><td>{{product[0]}}</td><td>{{product[1]}}</td><td>{{product[2]}}</td><td>{{product[3]}}</td></tr>
        {% endfor%}
    </table>
</section>







{%endblock%}